.board-row:after {
    clear: both;
    content: '';
    display: table;
  }

  .board-row {
    display: flex;
    flex-direction: row;
  }
   
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin: 3px;
    padding: 20px;
    text-align: center;
    width: 34px;
  }

.container {
  display: flex;
  flex-direction: row;
}

.turns {
  display: flex;
  flex-direction: column;
}